<div class="content">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Purpose</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        The purpose of this application is to explore the design of an Angular Signal-based application with a focus on
        maintaining sustainable development velocity and facilitating the seamless addition of new features over time.
        This is achieved through leveraging modern Angular capabilities, such as Angular Signal, Deferrable Views and
        Control Flow syntax. All components are fully driven by Signals. Furthermore, the project includes a custom
        reactive state management system built on Signals, ensuring efficient and predictable state handling.
      </p>
      <p>
        This project represents a migration from a Component-First architecture (standalone) to a Signal-based Component
        Architecture, utilizing Angular CLI 19. This application present high-level recommendations for a well-designed
        Angular application architecture based on best practices and battle-tested patterns.
      </p>

      <div>- Signal-based Component Architecture.</div>
      <div>- Smart and Dumb components pattern.</div>
      <div>- Reactive state management (using own Signal store).</div>
      <p style="font-weight: bold">Extras:</p>
      <div>- Dynamically load a configuration file before the app starts.</div>
      <div>- Register and use custom SVG icons within the application</div>
      <div>- Implement internationalization using a third-party library.</div>
      <div>- Integrate Infinite Scroll to a view listing.</div>
      <div>- Implement Global Error Handling in the web application.</div>
      <div>- Setting Page Titles Natively With The Angular Router.</div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Description</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        This application is built using Angular 19 and own Signal store as state management. The design was created
        using Angular Material, and unit tests were conducted with Jasmine and Karma. The application provides the
        following features:
      </p>

      <div>- Multilingual Support (Internationalization in 3 Languages).</div>
      <div>- Apartment Listings Page.</div>
      <div>- Filter Apartments by City and Borough, and Load More Data via Scroll.</div>
      <div>- Highlighting Favorite Apartments.</div>
      <div>- Apartment detail page.</div>
      <div>- Saving Apartment as Favorites.</div>
      <div>- Apartment favourites page.</div>
    </mat-card-content>
  </mat-card>
</div>
